/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.primaryBackground {
    background-color: #546e7a;
    --background: #546e7a;
  }
.secondaryBackground {
    background-color: #263238;
    --background: #263238;
}
ion-alert .alert-head{
    color: white!important;
    background-color: #546e7a;
    text-align: center;
}
ion-alert.alert-radio-inner{
    background-color: #546e7a;
}
ion-alert.seleccionarAlert{
  --background:#cfd8dc !important;
  text-align: left;
  font-weight: bold;
  color: white;
//   .alert-head
//   {
//     color: white!important;
//     background-color: #b71c1c;
//   }
  .alert-button-group{
    color: white!important;
    background-color: #546e7a;
    justify-content: center;
    padding: 6px 6px 6px 18px;
    
  }
  .alert-button{
    background-color: #cfd8dc;
    padding: 20px;
  }
}
// button.alertButton{
//     background-color: #b71c1c;
//     color: black !important;
//     background-color: #ffa4a2;
//     padding: 10px;
//   }
  ion-alert.avisoAlert{
  
    .alert-head
    {
      background-color: #546e7a;
      color: white;
    }
    .alert-button-group{
      background-color: #546e7a;
      color: black !important;
      justify-content: center;
      padding: 6px 6px 6px 18px;
    }
    .alert-button{
      color: black !important;
      background-color: #cfd8dc;
      padding: 10px;
      
    }
    .alert-message{
      color: black !important;
      text-align: center;
      justify-content: center;
      display: flex;
      font-size: 20px;
      align-items: center;
      background-color: #cfd8dc;
    }
  }
  
  //spinner
  
  .spinner {
    // position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // z-index: 999;
    --background:#cfd8dc;
  }
  
  .lds-hourglass {
    display:inline-block ;
    position: relative;
    justify-content: center;
    width: 64px;
    height: 64px;
    //color: #2e7d32;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #546e7a;//fff
    border-color: #546e7a transparent #546e7a transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
  